<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user">
    <%= link_to micropost.name, micropost.user %>
  </span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp" title="<%= I18n.localize micropost.created_at %>">
    <%= micropost.created_at.to_s %>
  </span>
  <% if micropost.user.current_user? current_user %>
    <%= link_to "delete", micropost, method: :delete,
      data: {confirm: "You sure?"} %>
  <% end %>
</li>
